<div class="footer">
  <div class="flex nav-header" style="width: 100%">
    <div class="partdiv"></div>
    <ul class="ulcss">
      <li class="nav-item color-white"><a>HOME</a></li>
      <li class="nav-item color-white"><a>PRODUCTS</a></li>
      <li class="nav-item color-white"><a>CUSTOMERS</a></li>
      <li class="nav-item color-white"><a>NEWS + EVENTS</a></li>
      <li class="nav-item color-white"><a>ABOUT US</a></li>
    </ul>
    <div style="flex: 1 1 0"></div>
    <div class="color-white mrgn">@2011 Company Name. All rights reserved</div>
    <div class="partdiv"></div>
  </div>

</div>

