<div>
  <img class="contact" src="../assets/images/contact.jpg">
</div>


<div class="container">
  <ul class="cards">
    <div style="display:flex;flex-direction: row">
      <li>
        <img src="../assets/images/maleuser.png"/>
        <div class="details">
          <span class="name">Mr Sanjeev Agarwal </span>
          <span class="name">Owner (SamsoleIndia)</span>
          <a class="name">9310853500</a>
          <a class="name">info@samsolindia.com</a>
          <a class="name"> E-23 New Arya Nagar<br>
            <span style="display:inline-block; width: 20px;"></span>   Meerut Road , Ghaziabad<br>
            <span style="display:inline-block; width: 20px;"></span>Delhi NCR (201001)
          </a>
        </div>
      </li>
      <li style="display: flex;flex-direction: row">
        <img src="../assets/images/femaleuser.png" style="height: 150px!important;"/>
        <div class="details">
          <span class="name">Mrs Pragya Agarwal </span>
          <span class="name">Customer Service <span style="display:inline-block; width: 20px;"></span> Manager(SamsoleIndia)</span>
          <a class="name">9456864233</a>
          <a class="name">legal.agarwal@gamil.com</a>
        </div>
      </li>
    </div>

  </ul>
</div>l
