<p data-title="About Us" class="dialog-box_info" style="    font-size: 18px;
    line-height: 2em;">
  <b> Mr Sanjeev Agarwal</b> the owner of the company did his engineering from MNIT Jaipur in 1992 and then
  completed his MBA. He then started the sister concern of Samsol Group – Sanjeev Electrode Industries, which is the
  manufacturer of welding rods and trades in all types of related raw material. He did Post Graduate Diploma in Energy
  Management and also became a government certified energy auditor from BEE, Government of India. He then started to
  gain experience in the field of energy conservation and worked with various MNCs. He now has a vast knowledge and has
  already audited various corporate houses , energy intensive buildings and has his own teams of experienced employees
  to facilitate the working.
  His discipline , well organised and planned management helps him to excel in his diverse business. His awareness and
  willing power always pushes him to do something for the benefit of the society and work for welfare and wellbeing of
  people around him. Our group believes in growth of all and work for all.

</p>

