<div class="viewport">
  <div class="title">
    <h1 style="color: white"> Our Products and Services </h1>
  </div>
  <div class="cards">
    <div class="display">

      <div style="width: 100%" class="card">
        <div style="display: flex;flex-direction: row">
          <h3 style="min-width: 300px"><b>POTASSIUM TITANATE (K2 TiO3)</b></h3><img style="padding: 30px 0px 0px 30px;"
                                                                                    src="../assets/images/Picture1.png">
          <mat-accordion>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
              </mat-expansion-panel-header>
              <div style="padding-top: 80px;">
                <img src="../assets/images/Picture1.png">
                <img src="../assets/images/ty.jpg">
                <img src="../assets/images/Picture3.png">
              </div>

              <!--<img src="../assets/images/samsol.png">-->
            </mat-expansion-panel>

          </mat-accordion>
        </div>


        <div class="line">
        </div>
        <p style="font-size: 1.3em;line-height: 1.5em ; padding: 3% 8% !important;"> Potassium titanate possesses low
          thermal conductivity and high reflectance ranging from ultra-violet to infra-red region.
          Potassium titanate is specially designed for welding rod application and other abrasives like brake pads. This
          material has very low levels of phosphorous and sulphur content. This makes it particularly suitable for high
          quality welding rods. Other application include brake pad and other abrasive manufacturing.

          Samsol is engaged in the manufacturing of wide range of chemical products. We specialize in Potassium Titanate
          of Welding Electrode Grade, catering to a wide spectrum of clientele.
          We have developed our own fleet of tankers for bulk deliveries in shortest lead-time. It helps us in reducing
          the client's logistics & inventory cost and also ensures that the quality is not tempered during the
          transportation.
          We have skilled, experienced and qualified personnel who work efficiently for the attainment of best quality
          products. We make sure that the customers’ demand is fulfilled and keep them above all. We have the modern
          machines and equipment for the best quality product and always reassure it before final delivery.
          .
          <br>
          <b>Specifications....</b>
        </p>
        <div style="display: flex;flex-direction: row">
          <table class="rwd-table">
            <tr>
              <th>Ingredients</th>
              <th>Quantity</th>

            </tr>
            <tr>
              <td data-th="Ingredients">Potassium Oxide (K2O)</td>
              <td data-th="Quantity">16 to 20%</td>

            </tr>
            <tr>
              <td data-th="Ingredients "> Titanium Oxide (TiO2)</td>
              <td data-th="Quantity">76 to 80%</td>

            </tr>
            <tr>
              <td data-th="Ingredients"> Silicon Dioxide (SiO2)</td>
              <td data-th="Quantity">2% Max</td>

            </tr>
            <tr>
              <td data-th="Ingredients">Iron Oxide (Fe2O3)</td>
              <td data-th="Quantity">1% Max</td>

            </tr>
            <tr>
              <td data-th="Ingredients">Crabon (C)</td>
              <td data-th="Quantity">0.18% Max</td>

            </tr>
            <tr>
              <td data-th="Ingredients">Phosphorus (P)</td>
              <td data-th="Quantity">0.05% max</td>

            </tr>
            <tr>
              <td data-th="Ingredients">Sulphur (S)</td>
              <td data-th="Quantity">0.02% max</td>

            </tr>

          </table>
          <img style="padding: 60px;
    height: 300px;
    width: 300px;"
               src="../assets/images/df.jpg">
        </div>

      </div>
      <div style="width: 100%" class="card">
        <div class="card_img">

        </div>
        <div style="display: flex;flex-direction: row">
          <h3 style="min-width: 300px"><b>ENERGY CONSERVATION</b></h3><img style="padding: 30px 0px 0px 10px;"
                                                                           src="../assets/images/e2.jpeg">
          <mat-accordion>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
              </mat-expansion-panel-header>
              <div style="padding-top: 80px " >
                <img src="../assets/images/e1.jpeg">
                <img src="../assets/images/energy1.png">
                <img src="../assets/images/energy.png">
              </div>

              <!--<img src="../assets/images/samsol.png">-->
            </mat-expansion-panel>

          </mat-accordion>
        </div>

        <div class="line">
        </div>
        <p style="font-size: 1.3em;line-height: 1.5em">The company is dedicated towards the promotion of Renewable
          Energy and Energy Conservation all over the country and set new standards in quality and mastering the art of
          in-time completion along with time bound delivery of projects earmarking excellence in productivity, quality,
          innovation and management which is the key objective.

          <br>
          <br>
          <b>ENERGY AUDIT</b><br>
          Energy audit is a technique used to establish pattern of energy use; identify how and where loses are
          occurring; and suggest appropriate economically viable engineering solutions to enhance energy efficiency in
          the system studied.<br>
          Advantages of Energy Audit:<br>
          • Understand where energy is used and which areas are worth focusing on the most (energy hogs).<br>
          • Provide you with benchmark information to help you understand your energy use performance compared to others
          in your field and area.<br>
          • Provide you with emissions analysis to help you understand the benefits of your decisions from an
          environmental standpoint.<br>
          • Provide you with solid, easy to understand technical information regarding the proposed energy conservation
          measures.<br>
          • The audit will not only inform you of opportunities but provide you with financial analysis. This will
          enable prioritization based on financial benefit and return on investment.<br>


          <br>

          <b> ENERGY SAVING TIPS (Electricity)</b><br>

          • Use standby electric generation equipment for on-peak high load periods.<br>
          • Correct power factor to at least 0.90 under rated load conditions.<br>
          • Relocate transformers close to main loads.<br>
          • Set transformer taps to optimum settings.<br>
          • Disconnect primary power to transformers that do not serve any active loads.<br>
          • Consider on-site electric generation or cogeneration.<br>
          • Export power to grid if you have any surplus in your captive generation.<br>
          • Check utility electric meter with your own meter.<br>
          • Shut off unnecessary computers, printers, and copiers at night.<br>

          We audit in all types of commercial and highly energy intensive buildings. We have the best employees to
          provide the best services to our customers. The employees are not just a degree holder but also have expertise
          in their field.
          We have government certified energy auditors who are knowledgeable and provide you with the best advice and
          consultancy. Our effort is always to benefit the customer through our resources.

        </p>
      </div>
      <div style="width: 100%" class="card">
        <div class="card_img">
          <!--<img src="../assets/images/samsol.png">-->
        </div>
        <div style="display: flex;flex-direction: row">
          <h3 style="min-width: 310px"><b>DONATION AND CHARITY WORK</b></h3><img style="padding: 30px 0px 0px 10px;"
                                                        src="../assets/images/charity.png">
        </div>

        <div class="line">
        </div>
        <p style="font-size: 1.3em;line-height: 1.5em"> We believe that the society should be benefited with our work
          and the people who lack in resources and are in need, should be provided with the same. We believe in growth
          and development of all.
          We work for the up liftmen of the backward society and poor people. Our organisation is working with and for
          various NGOs and has always been actively participating in charitable events. We get happiness in giving
          rather than taking things.
          We are starting a project to provide education to the poor children and orphans for free. Education is the
          fundamental right and should be provided to all. We know that it is the best weapon to fight against the
          biggest problem of the country which is poverty. Our organisation’s goal is to make these children educated so
          that they don’t get into this web of poverty and instead become a well-educated and elite member of the
          society.
          With the help and support of the people who want to help or
          society to cope with such big issue of poverty and illiteracy we hope that our project will soon be able to
          give education to most of the poor children in India.

          The people who want to support us by any means can contact us so that we together can improve the future of
          India.
          .</p>
      </div>
    </div>

  </div>
</div>



