<div class="CSSgal">

  <!-- Don't wrap targets in parent -->
  <s id="s1"></s>
  <s id="s2"></s>
  <s id="s3"></s>
  <s id="s4"></s>
  <s id="s5"></s>
  <s id="s6"></s>
  <s id="s7"></s>


  <div class="slider">

    <div style="background-color: black;">
      <div class="wrapper">
        <div class="card-image">
          <div class="hero__overlay">
            <img class="border" src="../assets/images/plant1.jpeg"style="height: 90%;width: 90%">
            <div class="content">
              <h1>SamSoLIndia</h1>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div style="background-color: black;">
      <div class="wrapper">
        <div class="card-image">
          <div class="hero__overlay">
            <img  class="border" src="../assets/images/s2.png" style="height: 90%;width: 90%">
            <div class="content">
              <h1>SamSoLIndia</h1>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div style="background-color: black;">
      <div class="wrapper">
        <div class="card-image">
          <div class="hero__overlay">
            <img  class="border" src="../assets/images/donate.jpeg" style="height: 90%;width: 90%">
            <div class="content">
              <h1>SamSoLIndia</h1>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div style="background-color: black;">
      <div class="wrapper">
        <div class="card-image">
          <div class="hero__overlay"><img  class="border" src="../assets/images/s5.png" style="height: 90%;width: 90%">
            <div class="content">
              <h1>SamSoLIndia</h1>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div style="background-color: black;">
      <div class="wrapper">
        <div class="card-image">
          <div class="hero__overlay"><img  class="border" src="../assets/images/energy.png" style="height: 90%;width: 90%">
            <div class="content">
              <h1>SamSoLIndia</h1>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div style="background-color: black;">
      <div class="wrapper">
        <div class="card-image">
          <div class="hero__overlay"><img  class="border" src="../assets/images/df.jpg" style="height: 90%;width: 90%">
            <div class="content">
              <h1>SamSoLIndia</h1>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div style="background-color: black;">
      <div class="wrapper">
        <div class="card-image">
          <div class="hero__overlay"><img  class="border" src="../assets/images/ty.jpg" style="height: 90%;width: 90%">
            <div class="content">
              <h1>SamSoLIndia</h1>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="prevNext">
    <div><a href="#s7"></a><a href="#s2"></a></div>
    <div><a href="#s1"></a><a href="#s3"></a></div>
    <div><a href="#s2"></a><a href="#s4"></a></div>
    <div><a href="#s3"></a><a href="#s5"></a></div>
    <div><a href="#s4"></a><a href="#s6"></a></div>
    <div><a href="#s5"></a><a href="#s7"></a></div>
    <div><a href="#s6"></a><a href="#s1"></a></div>
  </div>

  <div class="bullets">
    <a href="#s1">1</a>
    <a href="#s2">2</a>
    <a href="#s3">3</a>
    <a href="#s4">4</a>
    <a href="#s5">5</a>
    <a href="#s5">6</a>
    <a href="#s5">7</a>
  </div>

</div>
