.border {
  border-radius: 5%;
}

/* Base Styles */

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-size: 16px;
  line-height: 1.4em;
  color: #222;
  background: white;
  font-family: 'Lato', sans-serif;
}

img {
  width: 400px;
  height: 100px;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Grid */

.section {
  clear: both;
  padding: 0;
  margin: 0;
}

.col {
  display: block;
  float: left;
  margin: 1% 0 1% 1.6%;
}

.col:first-child {
  margin-left: 0;
}

.span_3_of_3 {
  width: 100%;
}

.span_2_of_3 {
  width: 66.1%;
}

.span_1_of_3 {
  width: 32.2%;
}

/* Header & Navigation */

header {
  max-width: 100%;
  background: #222; /*FallBack*/
  background: rgba(0, 0, 0, .6);
  padding: 20px;
}

nav {
  width: 100%;
  background-image: linear-gradient(to right, white, rgb(212, 204, 204));
  box-shadow: 0 0 60px rgba(35, 33, 33, 0.8);
  opacity: 1;
}

ul {
  color: grey;
  margin: 20px 0px;
  padding: 0px 70px;
  font-family: Arial, Helvetica, sans-serif;
}

.nav-item {
  display: inline-block;
  padding: 20px;
  font-size: 1em;
  color: grey;
  font-family: Arial, Helvetica, sans-serif;
}

.nav-item:hover {
  cursor: pointer;
}

.menu-bar {
  width: 100%;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  background: #2d2d2d;
  text-align: left;
  padding: 15px 20px;
  color: #fff;
  font-size: 1.4em;
  cursor: pointer;
  display: none;
}

/*Media Queries*/

/* @900px*/
@media only screen and (max-width: 56.25em) {
  .col {
    margin: 1% 0 1% 0%;
  }

  .span_3_of_3, .span_2_of_3, .span_1_of_3 {
    width: 100%;
  }

  .side-post {
    width: 42%;
    float: left;
    margin: -2% 0 1% 1.6%;
  }
}

/* @685px*/
@media only screen and (max-width: 42.813em) {
  .side-post {
    width: auto;
    padding: 15px;
    margin: -2% auto 8% auto;
  }

  .blog-title {
    font-size: 1.95em;
  }

  .date {
    font-size: .9em;
  }
}

/* @480px */
@media only screen and (max-width: 30em) {
  nav ul {
    max-height: 0;
  }

  .reveal {
    max-height: 19em;
  }

  nav ul .nav-item {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    padding: 15px;
  }

  .menu-bar {
    display: block;
  }

}

/* @380px*/
@media only screen and (max-width: 23.75em) {
  .blog-content, .post-link {
    font-size: .9em;
  }

  .side-content {
    font-size: .8em;
  }

  .button {
    padding: 10px 15px;
  }

  .nav-item {
    font-size: 1.2em;
  }
}

.flex {
  display: flex;
  direction: ltr;
}

.spacer {
  display: flex;
  flex: 1 1 0;
}

.nav-header {
  padding: 10px;
  font-size: 1.2em;

}

.resource-detail-popup {
  background: rgba(0, 0, 0, 0.61) !important;
  width: 100vw;
  height: 450vh;
  overflow: hidden;
  position: absolute !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
}

.modal-dialog {
  width: 500px !important;
  height: 264px !important;
  position: absolute !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
}

.modal-body {
  padding: 45px 30px 0 30px !important;
  margin: 0px !important;
  height: 395px !important;
}

.modal-content {
  background: white;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 20%;
  top: 450%;
  height: 350px !important;
  width: 450px !important;
  border-radius: 10px !important;
  color: #343434 !important;
  font-size: 18px !important;
  -webkit-animation-name: about-us;
  animation-name: about-us;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
}


@keyframes about-us {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
