<div class="mainDiv">
  <app-slideshow></app-slideshow>
  <div style="display: flex;width: 100%">
    <div class="partdiv"></div>
    <div class="overviewbox">
      <div class="boxHeading">
        THE CONNECTED LIFESTYLE
      </div>
      <div style="display: flex;width: 100%;   ">
        <div class="content" style="width: 30%;">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do et dolore
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat.
          <br>
          <br>
          Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat.

          <div class="bottomBtn">
            <div>
              LEARN MORE
            </div>
            <div style="padding-left: 20px;color: black;">
              &#10095;
            </div>
          </div>
        </div>
        <div style="width: 35%;" class="content">
          LOREM ISPUM
          <div style="display: flex">
            <div class="img1">
              <img style="    width: 120px;
    height: 120px;" src="../assets/Jpics/img1.png">

              <div style="color: green;
    padding: 5px 0;">CONNECT
              </div>
              <div>
                Ut enim ad minim veniam,veniam<br>
                quis nostrud exercitation exercitation
              </div>
            </div>
            <div class="img2" style="padding: 0 10px;">
              <img style="    width: 120px;
    height: 120px;" src="../assets/Jpics/img2.png">
              <div style="color: green;
    padding: 5px 0;">EXPERIENCE
              </div>
              <div>
                Ut enim ad minim veniam, veniam<br>
                quis nostrud exercitatione xercitation
              </div>
            </div>


          </div>

        </div>
        <div style="width: 35%;" class="content">
          LOREM ISPUM
          <div style="display: flex">
            <div class="img1">
              <img style="    width: 120px;
    height: 120px;" src="../assets/Jpics/img3.png">

              <div style="color: green;
    padding: 5px 0;">DISCOVER
              </div>
              <div>
                Ut enim ad minim veniam,veniam<br>
                quis nostrud exercitation exercitation
              </div>
            </div>
            <div class="img2" style="padding: 0 10px;">
              <img style="    width: 120px;
    height: 120px;" src="../assets/Jpics/img4.png">
              <div style="color: green;
    padding: 5px 0;">GROW
              </div>
              <div>
                Ut enim ad minim veniam, veniam<br>
                quis nostrud exercitatione xercitation
              </div>
            </div>


          </div>

        </div>

      </div>
    </div>
    <div class="partdiv"></div>
  </div>

  <div style="display: flex;width: 100%">
    <div class="partdiv"></div>
    <div class="customers">
      <div class="customersbox1">
        <div class="boxHeading">
          OUR CUSTOMERS
        </div>

        <div class="text-div">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do et dolore
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do et dolore
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo ullamco laboris nisi ut aliquip ex ea
          commodo
          consequat. <span style="color: #06bf06;cursor: pointer;padding-left: 20px;">Learn more ....</span>
        </div>
        <div style="display: flex;flex-wrap: wrap">
          <div class="cust-shadowBox fw-bold" style="color: black">DOLOREMQUE</div>
          <div class="cust-shadowBox fw-bold" style="color: red">DOLOREMQUE</div>
          <div class="cust-shadowBox fw-bold" style="color: blue">DOLOREMQUE</div>
          <div class="cust-shadowBox fw-bold" style="color: green">DOLOREMQUE</div>
          <div class="cust-shadowBox fw-bold" style="color: lightblue">DOLOREMQUE</div>
          <div class="cust-shadowBox fw-bold" style="color: orange">DOLOREMQUE</div>

        </div>


      </div>

      <div style="flex: 1 1 0;"></div>


      <div class="customersbox2">
        <div class="boxHeading">
          IN THE NEWS
        </div>
        <div style="display: flex;flex-direction: column">
          <div style="padding: 5px 0 10px 0;border-bottom: 1px solid lightgray; margin-bottom: 10px;">

            <div class="headDiv">Lorem ipsum dolor , consectetur adipiscing</div>
            <div class="date-div"><b>July 1, 2011</b></div>
            <div class="text-div1">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do et dolore
              quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo ...
              <span style="color: #06bf06;cursor: pointer;padding-left: 20px;">Continue reading</span>
            </div>
          </div>
          <div style="padding: 5px 0 10px 0;">
            <div class="headDiv">Lorem ipsum dolo , consectetur adipiscing</div>
            <div class="date-div"><b>June 30, 2011</b></div>
            <div class="text-div1">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do et dolore
              quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo ... <span
              style="color: #06bf06;cursor: pointer;padding-left: 20px;">Continue reading</span>
            </div>
          </div>

        </div>
      </div>

    </div>
    <div class="partdiv"></div>
  </div>


  <div style="display: flex;width: 100%">
    <div class="partdiv"></div>
    <div class="mediaBox">
      <div class="resource-box">
        <div class="boxHeading">
          MEDIA RESOURCES - PHOTOS
        </div>

        <div style="display: flex;flex-wrap: wrap">
          <div (click)="openPopUp(1,false)" class="shadowBox"><img style="height: 100px;width: 150px"
                                                                   src="../assets/Jpics/photos1.jpeg"></div>
          <div (click)="openPopUp(2,false)" class="shadowBox"><img style="height: 100px;width: 150px"
                                                                   src="../assets/Jpics/photos2.jpeg"></div>
          <div (click)="openPopUp(3,false)" class="shadowBox"><img style="height: 100px;width: 150px"
                                                                   src="../assets/Jpics/photos3.jpeg"></div>
          <div (click)="openPopUp(4,false)" class="shadowBox"><img style="height: 100px;width: 150px"
                                                                   src="../assets/Jpics/photos4.jpeg"></div>

        </div>

        <div class="text-div">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do et dolore
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat.
        </div>
      </div>

      <div style="flex: 1 1 0;"></div>


      <div class="resource-box">
        <div class="boxHeading">
          MEDIA RESOURCES - VIDEOS
        </div>
        <div style="display: flex;flex-wrap: wrap">
          <div class="shadowBox" (click)="openPopUp(1,true)">
            <img style="height: 100px;width: 150px"
                 src="../assets/Jpics/V3.png">
          </div>
          <div class="shadowBox" (click)="openPopUp(2,true)">
            <img style="height: 100px;width: 150px"
                 src="../assets/Jpics/V2.png">

          </div>
          <div class="shadowBox" (click)="openPopUp(3,true)">
            <img style="height: 100px;width: 150px"
                 src="../assets/Jpics/V1.png">

          </div>
          <div class="shadowBox" (click)="openPopUp(4,true)">
            <img style="height: 100px;width: 150px"
                 src="../assets/Jpics/v4.png">

          </div>
        </div>

        <div class="text-div">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do et dolore
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat.
        </div>
      </div>

    </div>
    <div class="partdiv"></div>
  </div>

  <app-footer></app-footer>

</div>
<app-modal></app-modal>
