.mainDiv {
  background-image: url("../../assets/Jpics/main_bg.jpg");
  height: 1500px;
  top: 110px;
  position: absolute;
  z-index: -1;
}

@media only screen and (max-width: 23.75em) {
  .blog-content, .post-link {
    font-size: .9em;
  }

  .side-content {
    font-size: .8em;
  }

  .button {
    padding: 10px 15px;
  }

  .nav-item {
    font-size: 1.2em;
  }
}

.flex {
  display: flex;
  direction: ltr;
}

.spacer {
  display: flex;
  flex: 1 1 0;
}

.nav-header {
  padding: 10px;
  font-size: 1.2em;

}

.bottomBtn {
  cursor: pointer;
  margin-top: 15px;
  height: 40px;
  display: flex;
  justify-content: center;
  width: 180px;
  align-items: center;
  color: #019001;
  border: 1px solid lightgreen;
  background: white;
}

.partdiv {
  width: 15%;
}

.overviewbox {
  border: 1px solid lightgray;
  min-height: 300px;
  height: fit-content;
  padding: 30px;
  margin: 20px;
  width: 70%;
  background-image: linear-gradient(to bottom, white, rgba(214, 208, 208, 0.55));
}

.boxHeading {
  color: green;
  font-size: 20px;
  margin-bottom: 15px;
  padding-bottom: 8px;
  border-bottom: 1px solid green;
}

.content {
  height: 300px;
  margin: 10px;
  padding: 10px;
  color: gray;
  border-right: 1px solid lightgray;
}

.img1 {
  padding: 0 10px;
  border-right: 1px solid lightgray;
}

.mediaBox {
  border: 1px solid lightgray;
  min-height: 300px;
  height: fit-content;
  padding: 30px;
  display: flex;
  margin: 20px;
  width: 70%;
  background-image: linear-gradient(to bottom, white, rgba(214, 208, 208, 0.55));
}

.shadowBox {
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.55);
  height: 100px;
  min-width: 150px;
  margin: 10px;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.resource-box {
  width: 45%;
  margin: 10px 30px 10px 0;
}

.text-div {
  margin: 10px;
  color: gray;
}

.text-div1 {
  margin: 10px 0;
  color: gray;
}
.shadowBox:hover {
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.55);
  margin: 10px;
  background: white;
  transform: scale(1.1)
}

.customers {
  min-height: 300px;
  height: fit-content;
  padding: 30px;
  display: flex;
  width: 70%;
}

.customersbox2 {
  width: 35%;
  margin: 10px 30px 10px 0;
}

.customersbox1 {
  width: 65%;
  margin: 10px 30px 10px 0;
}
.fw-bold{
  font-weight: bold;
}

.cust-shadowBox:hover {
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.55);
  margin: 10px;
  background: white;
  transform: scale(1.1)
}

.cust-shadowBox {
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.55);
  height: 100px;
  min-width: 170px;
  margin: 10px;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.headDiv{
  color: green;
}

.date-div{
  color: #807e7e;
  font-size: 15px;
  font-weight: bold;
  margin: 5px 0;
}
